@charset "utf-8";

.nav {
  height: 44px;
}

.nav li a {
  display: grid;
  place-items: center;
}

.gothic {
  font-family: "游ゴシック体","游ゴシック","Yu Gothic","YuGothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ","Meiryo",sans-serif;
}

.w-720px {
  width: 720px;
}